# MongoDB Configuration
MONGO_URI=mongodb://root:rootpassword@localhost:27017
MONGO_DB_NAME=wow_plasteca
MONGO_USER=root
MONGO_PASSWORD=rootpassword

# Application Configuration
PORT=3000
ENV=development
DEBUG=true

# Timezone Configuration
TZ=America/Mexico_City

# Secret for JWT or other security purposes
JWT_SECRET=mysecretkey

